<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="controlMessage" class = "safeguard.cms.primitive.message.ControlMessage" />
    <bean id="reportMessage" class = "safeguard.cms.primitive.message.ReportMessage" />
    <bean id="eventMessage" class = "safeguard.cms.primitive.message.EventMessage" />
    
</beans>